.StoreMain {
  /* background-image: url("https://images.hdqwalls.com/wallpapers/anime-naruto-minimalism-j9.jpg"); */
  background-repeat: no-repeat;
  background-size: cover; /* чтобы изображение покрывало всю видимую область */
  background-attachment: fixed; /* чтобы изображение оставалось неподвижным при прокрутке страницы */
  margin: 5% 0;
}

.searchAndFilter {
  display: flex;
}

h2 {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffac41;
}

.ThrowButton {
  padding: 8px 20px;
  background-color: black;
  color: #ffac41;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ThrowButton:hover {
  background-color: rgb(32, 29, 29);
}

@media screen and (max-width: 1200px) {
  .searchAndFilter {
    display: flex;
    flex-direction: column;
  }
}
