@import url("https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap");
.UserProfileMain {
  /* background-image: url("https://external-preview.redd.it/z-Zm1wdYOQy2dD1Egp7RlNk6kdohIfDE--6cBXMYuFo.jpg?auto=webp&s=6b8ede149263682fd7e4531abf339781265664c2"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Yuji Hentaigana Akari", cursive;
}

.UserProfileRight {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 640px) {
  .forWr {
    display: flex;
    flex-wrap: wrap;
  }
  .NameInv {
    margin-top: 20px;
  }
}
