@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Young+Serif&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Outfit", sans-serif;
  font-family: "Young Serif", serif; */
}

.CardMain {
  background-color: rgb(34, 29, 29);
  position: relative;
}

.CardName {
  color: white;
  /* background-color: rgba(0, 0, 0, 0.8); */
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

.CardPrice {
  color: white;
}

.CardPower {
  color: white;
  position: absolute;
  top: 0;
  right: 11px;
  background-color: rgb(34, 29, 29);
  width: 15%;
  text-align: center;
  border-radius: 40px;
}

.CardInside {
  position: relative;
}

.CardTextContainer {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 92%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 3px;
  text-align: center;
  margin: 0 auto;
}

.CardImage {
  display: block;
  margin: 0 auto;
  position: relative;
}

.CardLikes {
  color: white;
}

.CardFooter {
  bottom: 0;
  top: 90%;
  left: 10px;
  width: 92%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 3px;
  text-align: center;
  margin: 0 auto;
}
