.attack--container {
  position: absolute;
  left: 10%;
  top: 10%;
  right: 10%;
  bottom: 10%;
  width: 80%;
  height: 80%;
  z-index: 88;
  border-radius: 10px;
  border: 5px solid black;
}
.attack--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
