@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* body {
  background-image: url("https://s1.picswalls.com/wallpapers/2015/09/27/awesome-naruto-wallpaper_104040113_274.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
} */

* {
  margin: 0;
  padding: 0;
}
/* Scrollbar start */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: #3b3b3b;
  opacity: 0.5;
}
::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  border-radius: 6px;
  opacity: 0.5;
}
/* Scrollbar end */
